---
import Layout from "../layouts/Layout.astro"
---
<Layout title="about">
    <h1>Curiosidades sobre Astro</h1>
    <p>Astro tiene algo curioso que son las  
<a 
  href="https://docs.astro.build/en/concepts/islands/" 
  target="_blank" 
  class="text-orange-400 font-bold text-decoration-underline hover:text-red-700 transition-colors duration-300"
>
  islas
</a> , que son componentes que se cargan de forma diferida, es decir, solo cuando el usuario los necesita. Esto mejora el rendimiento de la página y reduce el tiempo de carga inicial.
</p>
</Layout>